doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles.css")
    title= title
  body
    nav
    ul
        li
        a(href="/") Home
        li
        a(href="/services") Our Services
        li
        a(href="/contact") Contact Us
    block content
  .container
    .content
      h1 Welcome to Our Web Application!
      h2 We provide a range of services to meet your needs. Contact us to learn more.
      img(src="/images/profile-image.jpg", alt="Profile Image")
      p In an accident, Stephen Strange, a famous neurosurgeon, loses the ability to use his hands. He goes to visit the mysterious Ancient One to heal himself and becomes a great sorcerer under her tutelage.
      